* {
    font-family: "Arial", Times, Serif;
    font-weight: bold;
	text-align: center;
}

.subRed {
    color: red;
    font-size: 0.85em;
}

.smallRed {
    color: red;
    font-weight: normal;
}

.blackGreen {
    color: darkgreen;
    background-color: black;
	text-align: center;
}

.valueFont {
    font-family: "Bauhaus 93", Verdana, Helvetica, sans-serif;
    font-size: 1.15em;
}

#TopDiv {
    text-align:center;
    margin: auto;
}

H1 {
    color: blue;
    text-align: center;
    outline-style: solid;
    outline-color: red;
    display: inline; /* centered the heading */
	padding-right: 25px;
	padding-left: 25px;
}

H3 {
    color: red;
    text-align: center;
}

table {
    border-collapse: collapse;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}



table, td, th {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;

}

td {
    width: 200px;
    height: 100px;
}

th {
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
    width: 200px;
}


