* {
    font-family: "Arial", Times, Serif;    
	color: #727272;
	background-color: #3F51B5;
	text-align: center;
}

.header {
	position: fixed;
    top: 0px;
    left: 0px;

}
.headerBannerHeight {
	height: 140px;
}
.headerMenu {
	height: 40px;
	position: fixed;
    top: 140px;
    left: 0px;
}

.headerHeight {
    height: 180px;
}

.baseWidth {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

.bodyHeight {
	height: 370px;
}

.content {
    height: 100%;
	width: 100%;
}
.menuRow {
	width: 100%;
}
.dayLabel {
	width: 25%;
}
.day {
	width: 15%;
}
.primary {
	color: #727272;
	background-color: #3F51B5;
	border-color: #3F51B5;
}

.accent {
    color: #212121;
	text-align: center;
	background-color: #795548;
}

.valueFont {
    font-family: "Bauhaus 93", Verdana, Helvetica, sans-serif;
    font-size: 1.15em;
}

table, td, th {
    border: 1px solid #B6B6B6;
    border-collapse: collapse;
	}
	
td {
	color: #212121;
}

th {
    background-color:  #C5CAE9 ;
    font-size: 1.2em;
}

td.rowHeader {
	background-color:  #C5CAE9 ;

}

p.footer {
	color: #212121;
}

ul.footer {
	list-style-type: none;
    list-style-position: inside;
}

.wrap {
    float:left;
    width:80%;
}
div.right {
    float:right;
    width:20%;
}

a.footer:link    {color:#795548; background-color:transparent; text-decoration:none}
a.footer:visited {color:#727272; background-color:transparent; text-decoration:none}
a.footer:hover   {color:#795548; background-color:transparent; text-decoration:underline}
a.footer:active  {color:#C5CAE9; background-color:transparent; text-decoration:underline}

/* Navigation menu styles */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    background-color: #333;
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.nav a:not(.active) {
    background-color: #333;
}

/* Change the link color to #111 (black) on hover */
li.nav a:hover {
    background-color: #111;
}

/* Change the link color to #111 (black) on active */
li.nav a:active {
    background-color: #795548;
}

/* Change the link color to #111 (black) on active */
.active {
    background-color: #795548;
}